.MatchCard{
    display: flex;
    flex-direction: row;
    max-height: 300px;
    background-color: #CDCDCD;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 2em;
    width: 500px;
}
.ClubLogo{
    max-height: 150px;
    max-width: 100px;
}
.Actual-Scores{
    display: flex;
    flex-direction: row;
}
.Predicted-Scores{
    display: flex;
    flex-direction: row;
}
.Scores{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.h5S{
    margin:0;
}

.h6S{
    padding-right:10px
}

.successText{
    background-color: #98ff8c;
    border-radius: 10px;
    padding:6px;
    margin: 6px;
    width: 532px;
}

.failureText{
    background-color: #c9001e;
    color: white;
    border-radius: 10px;
    padding:6px;
    margin: 6px;
    width: 532px;
}

.messageHeader{
    margin-bottom: 0;
}

.messageBody{
    margin-top: 0;
}