.header{
    display: flex;
    flex-direction: row;
    width: 100%
}
.logo{
    width:50px;
    height: 50px;
}
.logos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-right:8px;
}
.img{
    width:50px;
    height: 50px;
}