.PremierLeagueLogo{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.title{
    color: #3D195B;
    margin-left: 1em;
}
.TotalPointsCircle{
    border-radius: 50%;
    border-color: #3D195B;
    border-width: 5px;
    height: 100px;
    width: 100px;
    border-style: solid;
}
.PointsValue{
    color: #3D195B;
    font-size: 72px;
    padding-left: 27px;
}
.PLlogo{
    height:120px;
    width:100px;
}
.TopDiv{
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #c8ffe4;
}
.PremierLeagueDiv{
    display: flex;
    text-decoration: none;
}
.trophy{
    width: 100%;
}
.Wild{
    display: block;
    padding: auto;
    width: 56%
}
.Content{
    display: inline-flex;
}
.football{
    width: 100%;
}
.trophyContainer{
    width: 22%;
    max-width: 22%;
    padding: 50px;
    padding-top: 0px;
}
.footballContainer{
    width: 22%;
    max-width: 22%;
    padding-top: 50px;
}